.techStack-section{
    margin-top: 30px;
}

.section-title h2{
text-align: center;
}

.tech-content{
    box-shadow: 10px 10px 5px 0px rgba(111, 102, 102, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(71, 64, 64, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(83, 76, 76, 0.75);
    padding: 10px;
    color: white;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    margin-top: 30px;
    background: rgb(36,18,0);
background: linear-gradient(90deg, rgba(36,18,0,0.5791973894049807) 0%, rgba(121,45,9,0.9713542521500788) 35%, rgba(91,154,139,1) 100%);
}
.tech-content p{
text-align: center;
padding-top: 30px;
font-size: 20px;
font-weight: 500;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.tech-content:hover{
    background-color: #C70039;
    color: white;
    cursor: pointer;
    transition-duration: 1s;
}
.tech-content p:hover{
    font-size: 23px; 
}
h2{
    color: green;
    font-size: larger;
}

@media (max-width: 767px) {
   .techStack-section{
    
   }
   .tech-content p{
    text-align: center;
    padding-top: 30px;
    font-size: 17px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    .section-title h2{
        margin-left: 50px;
        }
        
   
}