.home{
    height: 200px;
   color:white;
}
.home-content h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    padding: 20px;
    line-height: 50px;
    
   

}